<div class="comment-new-wrapper" >
  <div class="container">
    <div class="row">
      <div class="col-md-6 col-md-offset-3">
        <h1 class="text-center">コメントをする</h1>
        <%= form_for @comment, url:topic_comments_path do |f| %>
        
        <div class="form-group">
         <%= f.text_field :body, class: 'form-control' %>
        </div>
          <%= f.submit '投稿', class: 'btn btn-black btn-block' %>
        <% end %>
      </div>
    </div>
  </div>
</div>
